* {
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

.row {
    margin: 0px;
}

.about-us-header, .about-sec, .abt-gal, .our-collab {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
    margin: 0;
}

.about-us-header.fade-in, .about-sec.fade-in,
.abt-gal.fade-in, .our-collab.fade-in {
    opacity: 1;
    transform: translateY(0);
    margin: 0;
}

/* START OF LOADER */

.loader {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* END OF LOADER */

/* LANDING SECTION BEGIN */
.landing {
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: url('../sources/src2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-logo .landing-img img {
    width: 20vh;
}

.landing-logo .landing-header {
    margin-top: 5vh;
    text-align: center;
    color: black;
    font-family: 'Fjalla One', sans-serif;
}

.landing-logo .landing-header h1 {
    font-size: 6vh;
    letter-spacing: 8px;
}

/* LANDING SECTION END */


/* ABOUT US BEGIN */

.about-us {
    min-height: 100vh;
    background-color: white;
    margin-bottom: 10vh;
}

.about-us-header {
    width: 100%;
    min-height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    letter-spacing: 8px;
    color: black;
    font-family: 'Fjalla One', sans-serif;
}

.about-us .about-us-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us img {
    background-attachment: fixed;
    width: 75%;
    max-height: 45vh;
}

.about-us .about-us-text {
    text-align: justify;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-text h4 {
    line-height: 5vh;
    color: black;
    font-family: 'Cardo', serif;
    margin-bottom: 10vh;
}

.about-gallery {
    padding: 0;
    min-height: 25vh;
    transition: 0.4s;
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
}

.about-gallery:hover {
    background-color: rgb(230, 230, 230);
}

.about-gallery h1 {
    margin: 4vh 0;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.each-gallery .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.each-gallery img:hover {
    border: 2px solid black;
}

.about-sec {
    min-height: 60vh;
}

/* ABOUT US SECTION END */


/* EVENTS SECTION BEGIN */

.events {
    padding: 4vh 2vw;
    color: white;
    background-color: #000000;
    min-height: 40vh;
}

.expanding {
    background-color: rgb(185, 34, 92);
}

.events-expand {
    display: none;
    transition: 0.5s;
}

.events-header {
    min-height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    letter-spacing: 8px;
    color: rgb(224, 224, 224);
    font-family: 'Fjalla One', sans-serif;
}

.event-utsav {
    min-height: 25vh;
    background-color: #000000;
    color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.event-utsav img {
    width: 25vh;
}

.event-utsav button {
    border: 0;
    color: rgb(185, 34, 92);
    border-radius: 22px;
    border: 2px solid rgb(185, 34, 92);
    background-color: #e3e6f200;
    padding: 10px 15px;
    margin-bottom: 10vh;
    font-family: 'Cardo', serif;
}

.events-card-cont .event-card {
    border: 2px solid rgb(185, 34, 92);
    font-family: 'Cardo', serif;
    margin: 55px;
    text-align: justify;
    color: rgb(224, 224, 224);
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: 3px 6px 28px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 28px -7px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 28px -7px rgba(0, 0, 0, 0.918);
    transition: 0.3s;
}

.events-card-cont .event-card:hover {
    -webkit-box-shadow: 3px 6px 28px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 28px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 28px -1px rgba(0,0,0,0.75);
}

.event-card h2 {
    text-align: center;
    color: rgb(224, 224, 224);
    font-family: 'Fjalla One', sans-serif;
}

.event-card button.btn-info {
    font-size: 1.8vh;
    border: 0;
    padding: 5px 10px;
    color: white;
    background-color: rgba(224, 224, 224, 0);
    border: 2px solid rgb(185, 34, 92);
}

/* event description begin */

#myModal {
    padding: 0;
}

.modal-title {
    font-family: 'Fjalla One', sans-serif;
}
.modal .modal-dialog {
    margin: 10vh 11vw;
}

.modal .modal-dialog .modal-content {
    left: 0;
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.685);
}

.modal-content .modal-body {
    font-size: 2.5vh;
}

button.close {
    color: white;
}

.btn.btn-default {
    color: white;
}

/* event description end */

/* EVENTS SECTION END */


/* COLLABORATORS SECTION BEGIN */

.our-collab {
    min-height: 55vh;
    background-color: white;
    margin-bottom: 10vh;
}

.our-collab-header {
    margin: 5vh auto;
    min-height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    letter-spacing: 8px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.our-collab-logo {
    min-height: 20vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-collab-logo img {
    height: 20vh;
}
.our-collab-logo h1 {
    font-size: 5vh;
    font-family: 'Cardo', serif;
}

.our-collab-igers {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-collab-igers .collab-card {
    margin: 5vh 1vw;
    overflow: hidden;
    background-color: #002df8b2;
    color: white;
    -webkit-box-shadow: 3px 6px 28px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 28px -7px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 28px -7px rgba(0,0,0,0.75);
    transition: 0.3s;
}

.our-collab-igers .collab-card:hover {
    -webkit-box-shadow: 3px 6px 28px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 28px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 28px -1px rgba(0,0,0,0.75);
}

.collab-card img {
    height: 40vh;
    width: 100%;
}

.collab-desc {
    min-height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.collab-card h1, .collab-card h4 {
    text-align: center;
    font-size: 6vh;
    text-shadow: 1.5px 1.5px 1.5px black;
    font-family: 'Cardo', serif;
}

/**/


/* START OF FOOTER */

footer {
    max-height: 55vh;
    background-image: url('../sources/src1.jpeg');
}

.foot1 {
    background-color: #cecdcbcb;
    color: #000000;
    padding: 8vh 5vw;
    margin: 0;
}

.footer-head {
    font-family: 'Fjalla One', sans-serif;
}

.foot1 p,
.foot2 {
    font-family: 'Cardo', serif;
}

.footer-head1 {
    font-family: 'Cardo', serif;
    font-size: 6vh;
    color: rgb(3, 3, 3);
}

.foot2 {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    background-color: black;
    color: #e3e6f2;
    margin: 0;
}

.foot2.col-lg-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot2 p {
    margin: 0;
}

/* END OF FOOTER */


/* Small screens */

@media screen and (max-width: 720px) {

    .loader img {
        width: 80vw;
    }

    .landing {
        background-image: url('../sources/src3.jpeg');
    }

    .landing-logo {
        width: 100%;
        height: 100%;
    }

    .landing-header h3 {
        font-size: 4vw;
    }

    .about-us .about-us-text {
        margin: 5vh 2vw;
    }

    .about-gallery {
        margin : 8vh 0;
    }

    .about-us .about-us-img {
        min-height: 40vh;
    }

    .each-gallery img {
        margin: 2vh 0vw;
    }

    .events-card-cont {
        min-height: 30vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .events-card-cont .event-card {
        width: 75%;
        padding: 25px;
        min-height: 35vh;
    }

    .our-collab-logo {
        flex-direction: column;
    }

    .our-collab-igers .collab-card {
        width: 80vw;
    }

    .our-collab-igers {
        flex-direction: column;
    }

    .collab-card h1 {
        margin-top: 2.5vh;
        font-size: 3.5vh;
    }

    .collab-card h4 {
        font-size: 3vh;
        margin-bottom: 2.5vh;
    }

    .footer-head {
        padding-top: 11vh;
    }

    .foot1.col-lg-4:nth-child(2) {
        text-align: center;
    }

}

/* Large screens */

@media screen and (min-width: 720px) {

    .loader img {
        width: 25vw;
    }

    .landing-logo {
        width: 45%;
        height: 60%;
        padding: 55px;
    }

    .landing-header h3 {
        font-size: 1.5vw;
    }

    .about-us .about-us-text {
        margin: 5vh auto;
    }

    .about-us .about-us-img {
        min-height: 65vh;
    }

    .each-gallery img {
        margin: 5vh 2vw;
    }

    .events-card-cont {
        min-height: 30vh;
        width: 100%;
        margin-bottom: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .events-card-cont .event-card {
        width: 16%;
        padding: 55px 28px;
        min-height: 35vh;
    }

    .our-collab-igers .collab-card {
        width: 25vw;
    }

    .our-collab-igers .collab-card {
        display: inline-block;
    }

    .collab-card h1 {
        margin-top: 2.5vh;
        font-size: 2.5vh;
    }

    .collab-card h4 {
        font-size: 2vh;
        margin-bottom: 2.5vh;
    }

    footer {
        background-position-x: 55vw;
        background-position-y: 55vh;
    }

}